#start-btn
{
    width: 40%;
} 
#camera
{
    width:360px;
    height: 250px;
    border:1px solid grey;
}
#logo_img
{
    width: 150px;
    border-radius: 100px;
}
#textbox
{
    width: 300px;
}
body{
    background-image: url("https://d3rf6j5nx5r04a.cloudfront.net/ESaSwTPdrgjlorBgIN3tyllBBrY=/1200x1198/product/9/8/638ab56ae9e94d1f9af699d219ca9e0a_opt.jpg");
    background-size:cover;
    
}